# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment
venv/
.env

# Django-specific
db.sqlite3
*.log
media/
staticfiles/

# Editor/OS
.DS_Store
.idea/

# Migrations backup
*.bak

# Ignore specific files
**/migrations/*.py
celerybeat-schedule*
dump.rdb
