body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

.sidebar-container {
    width: 225px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #063A1C;
    color: white;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: width 0.2s ease;
    z-index: 20;
    position: sticky;
}

.table-text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    transition: margin-top 0.2s, font-size 0.2s;
}

.sidebar-tab-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.25rem;
    flex-shrink: 0;
    transition: margin-right 0.2s;
}

.resize-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    cursor: ew-resize;
    background: transparent;
    height: 100%;
}

.sidebar-logo {
    display: flex;
    align-items: center;
    margin: 1.15rem 0;
    white-space: nowrap;
}

.sidebar-logo-circle {
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin-left: 1rem;
    margin-right: 23px;
    flex-shrink: 0;
    align-items: center;
}

.sidebar-logo-text {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 550;
    display: inline-block;
}

.sidebar-container.collapsed .sidebar-logo-text {
    display: none;
}

.sidebar-tab-group-label {
    font-family: 'Inter', sans-serif;
    font-size: 0.85rem;
    font-weight: 400; 
    letter-spacing: 0.18rem;
    margin: 1.5rem 0 1.5rem 0.5rem;
    transition: text-align 0.2s;
}

.sidebar-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0;
    overflow-y: hidden;
    max-height: calc(100vh - 120px); 
    overflow-x: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.sidebar-tabs::-webkit-scrollbar {
    display: none;
}

.sidebar-tabs:hover {
    overflow-y: auto; 
    scrollbar-width: thin; 
    scrollbar-color: #1a5c2a #063A1C;
}

.sidebar-tabs:hover::-webkit-scrollbar {
    width: 8px; 
    display: block; 
    background: #063A1C;
}

.sidebar-tabs:hover::-webkit-scrollbar-thumb {
    background: #1a5c2a;
    border-radius: 4px;
}

.sidebar-tab {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0.95rem; 
    border-radius: 5px;
    transition: background-color 0.2s ease;
    transition: flex-direction 0.2s, padding 0.2s;
}

.sidebar-tab:hover {
    background-color: #052C15;
}

.ueso-icon { 
    background-image: url("/static/ueso.png");
}

.sidebar-logout {
    padding-top: 20px;
}

.sidebar-container.collapsed ~ .topbar {
    left: 65px; 
}

.sidebar-tab.active {
    background-color: #052C15;
}


.topbar {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    height: 4rem;
    background-color: #F7F3F1;
    border-bottom: 1px solid rgba(75, 75, 75, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 1.35rem;
    transition: left 0.2s ease;
    z-index: 10;  
}

.topbar-button {
    width: 20px;
    height: 20px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background 0.2s;
}

.topbar-button:last-child {
    width: 35px;
    height: 35px;
}
  
#backToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 1000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    background-color: #00681a; 
}

#backToTopBtn.show {
    opacity: 1;
    visibility: visible;
} 

.logo-circle {
    width: 2.85rem;
    height: 2.85rem;
    border-radius: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.15);
}

.logo-circle img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    transition: transform 0.2s ease;
}
.logo-circle img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.topbar-button img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.topbar-button img:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#profileModal {
    display: none;
    position: absolute; 
    background: #fff; 
    border-radius: 0.75rem; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05); 
    min-width: 10rem; 
    z-index: 1000; 
    border: none; 
    overflow: hidden; 
    text-align: left;
    top: calc(100% + 5px); 
    right: 0px;
    opacity: 0;
    transform: translateY(-10px); 
    transition: opacity 0.3s ease-out, transform 0.3s ease-out; 
}

#profileModal.show {
    display: block; 
    opacity: 1; 
    transform: translateX(1.75rem);
}


#profileModal a {
    display:block; 
    padding: 0.75rem 1.25rem;
    color:#222; 
    text-decoration:none;
    font-family:'Inter',sans-serif;
    font-size: 0.95rem;
    font-weight: 500; 
    border-bottom: 0;
    transition: background 0.2s, color 0.2s;
}

#profileModal a:hover {
    background: #f7f3f1; 
    color: #00681a; 
}